<html>
        <HEAD>
                        <TITLE>Resultados</TITLE>
        </HEAD>
        
                <H1 style="COLOR: #FFFFFF; BACKGROUND-COLOR: #008DB8;border: 8px outset #008DB8">
                        <font face="sans" size = 120 >
                                <CENTER>Resultados</CENTER>
                        </font>
                </H1>
                <tr>
                        <td>
                                
                                <p><%= $Autor1%><br><%= $Album1%></br><%= $Titulo1%></br><a title="Link del Album" href= <%= $Url1%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor1%><%= $Album1%><%= $Titulo1%>" data-url=<%= $Url1%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor2%><br><%= $Album2%></br><%= $Titulo2%></br><a title="Link del Album" href= <%= $Url2%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor2%><%= $Album2%><%= $Titulo2%>" data-url=<%= $Url2%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor3%><br><%= $Album3%></br><%= $Titulo3%></br><a title="Link del Album" href= <%= $Url3%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor3%><%= $Album3%><%= $Titulo3%>" data-url=<%= $Url3%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>
                                
                                <p><%= $Autor4%><br><%= $Album4%></br><%= $Titulo4%></br><a title="Link del Album" href= <%= $Url4%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor4%><%= $Album4%><%= $Titulo4%>" data-url=<%= $Url4%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor5%><br><%= $Album5%></br><%= $Titulo5%></br><a title="Link del Album" href= <%= $Url5%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor5%><%= $Album5%><%= $Titulo5%>" data-url=<%= $Url5%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor6%><br><%= $Album6%></br><%= $Titulo6%></br><a title="Link del Album" href= <%= $Url6%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor6%><%= $Album6%><%= $Titulo6%>" data-url=<%= $Url6%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>
                                
                                <p><%= $Autor7%><br><%= $Album7%></br><%= $Titulo7%></br><a title="Link del Album" href= <%= $Url7%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor7%><%= $Album7%><%= $Titulo7%>" data-url=<%= $Url7%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor8%><br><%= $Album8%></br><%= $Titulo8%></br><a title="Link del Album" href= <%= $Url8%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor8%><%= $Album8%><%= $Titulo8%>" data-url=<%= $Url8%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor9%><br><%= $Album9%></br><%= $Titulo9%></br><a title="Link del Album" href= <%= $Url9%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor9%><%= $Album9%><%= $Titulo9%>" data-url=<%= $Url9%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
								<p><%= $Autor10%><br><%= $Album10%></br><%= $Titulo10%></br><a title="Link del Album" href= <%= $Url10%>>Link del Album
                                        </a></br></p>
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Autor10%><%= $Album10%><%= $Titulo10%>" data-url=<%= $Url10%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
        </table>
        
</html>   
