<html>
        <i--Tabla de resultados de las busquedas-->
        <table border="0" summary="Resultados de la busqueda" align = "center">
                <i--Primera fila de resultados-->
                <FONT SIZE=30><caption style="color:#003399" SIZE=30>Resultados de la busqueda</caption></FONT>
                <tr>
                        <td>
                                
                                <p><%= $Autor1%><br><%= $Album1%></br><%= $Titulo1%></br><a title="Link del Album" href= <%= $Url1%>>Link del Album
                                        </a></br></p>
                                
                                        
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo1%> <%= $Autor1%>" data-url=<%= $Url1%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor2%><br><%= $Album2%></br><%= $Titulo2%></br><a title="Link del Album" href= <%= $Url2%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo2%> <%= $Autor2%>" data-url=<%= $Url2%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor3%><br><%= $Album3%></br><%= $Titulo3%></br><a title="Link del Album" href= <%= $Url3%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo3%> <%= $Autor3%>" data-url= <%= $Url3%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>
                                
                                <p><%= $Autor4%><br><%= $Album4%></br><%= $Titulo4%></br><a title="Link del Album" href= <%= $Url4%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo4%> <%= $Autor4%>" data-url=<%= $Url4%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor5%><br><%= $Album5%></br><%= $Titulo5%></br><a title="Link del Album" href= <%= $Url5%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo5%> <%= $Autor5%>" data-url=<%= $Url5%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor6%><br><%= $Album6%></br><%= $Titulo6%></br><a title="Link del Album" href= <%= $Url6%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo6%> <%= $Autor6%>" data-url=<%= $Url6%> data-lang="es" data-count="horizontal"></title></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>
                                
                                <p><%= $Autor7%><br><%= $Album7%></br><%= $Titulo7%></br><a title="Link del Album" href= <%= $Url7%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo7%> <%= $Autor7%>" data-url=<%= $Url7%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor8%><br><%= $Album8%></br><%= $Titulo8%></br><a title="Link del Album" href= <%= $Url8%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo8%> <%= $Autor8%>" data-url=<%= $Url8%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                
                                <p><%= $Autor9%><br><%= $Album9%></br><%= $Titulo9%></br><a title="Link del Album" href= <%= $Url9%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo9%> <%= $Autor9%>" data-url=<%= $Url9%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                        <td>
                                <div align="center">
								<p><%= $Autor10%><br><%= $Album10%></br><%= $Titulo10%></br><a title="Link del Album" href= <%= $Url10%>>Link del Album
                                        </a></br></p>
                                <div align="center">
                                        <i--Api de Twitter -->
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= $Titulo10%> <%= $Autor10%>" data-url=<%= $Url10%> data-lang="es" data-count="horizontal"></a>

                                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                        </td>
                </tr>
                <script>
                function f_Cmb(){                
                document.frm.action="/siguiente";
                document.frm.submit();
                                        }

                function f_Cmb1(){                
                document.frm.action="/anterior";
                document.submit();
                                }
                </script>
                <tr>
                        <td colspan = "3">
                                <div id="contenido" align="center">
                                        <div id="contenido">
                                                <form name="frm" id="frm" action="" method="post">
                                                        <input name="bt1" type="submit" value="Siguiente" onclick="f_Cmb();" />
                                                        <input name="bt2" type="submit" value="Atras" onclick="f_Cmb1();" />
                                                </from>
                                        </div>
                                </div>
                        </td>
                        
                        
                </tr>
        </table>
        
</html>   
